.haydi {
     margin-top: 200px;
     display: flex;
     justify-content: center;
     background-color: #161616;
     height: 682px;
}

.haydiContainre {
     display: flex;
     justify-content: space-between;
     max-width: 1430px;
     width: 90%;
}

.haydiLeft {
     flex: 50%;
     display: flex;
     flex-direction: column;
}

.haydiLeftHeader {
     margin-top: 140px;
     color: var(--color-white);
     font-size: var(--herderHuk);
     line-height: 1.2;
     width: 90%;
}

.haydiLeftText {
     margin-top: 10px;
     font: normal normal normal 17px/30px Poppins;
     width: 73%;
     text-align: rigleftht;
     color: var(--color-white);
}

.haydiRight {
     flex: 50%;
     display: flex;
     position: relative;
}

.haydiRightSection1 {
     width: 350px;
     height: auto;
     position: absolute;
     top: 0;
     left: 360px;
}

.haydiRightSection2 {
     width: 350px;
     height: auto;
     position: absolute;
     top: 220px;
     left: 0;
}
.haydiRightMobile {
     display: none;
}

@media only screen and (max-width: 1500px) {
     .haydiRightSection1 {
          width: 330px;
          left: 340px;
     }

     .haydiRightSection2 {
          width: 330px;
     }
}

@media only screen and (max-width: 1400px) {
     .haydiContainre {
          width: 95%;
     }

     .haydiLeftHeader {
          font-size: 44px;
     }

     .haydiRightSection1 {
          width: 278px;
          left: 290px;
     }

     .haydiRightSection2 {
          width: 278px;
     }
}

@media only screen and (max-width: 1200px) {
     .haydiLeft {
          flex: 44%;
     }

     .haydiRightSection1 {
          width: 250px;
          left: 250px;
     }

     .haydiRightSection2 {
          width: 250px;
     }

     .haydiRight {
          flex: 56%;
     }
}

@media only screen and (max-width: 1000px) {
     .haydiContainre {
          flex-direction: column-reverse;
          display: flex;
          justify-content: flex-end;
     }

     .haydi {
          height: 909px;
     }

     .haydiRight {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-bottom: -100px;
     }

     .haydiLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .haydiLeftHeader {
          font-size: 36px;
          text-align: center;
     }

     .haydiLeftText {
          font-size: 15px;
          text-align: center;
     }

     .haydiRightSection1,
     .haydiRightSection2 {
          display: none;
     }

     .haydiRightMobile {
          display: none;
     }
}
