.merhaba {
     margin-top: 200px;
     display: flex;
     justify-content: center;
     z-index: -10;
}

.merhabaContainer {
     display: flex;
     justify-content: space-between;
     max-width: 1430px;
     width: 90%;
}

.merhabaLeft {
     padding-top: 60px;
     flex: 50%;
}

.merhabaRight {
     flex: 50%;
     display: flex;
     margin-top: 10px;
     justify-content: flex-end;
     position: relative;
}

/* TEXT */

.merhabaLeftHeader {
     font-size: var(--Huge);
     line-height: 1.1;
     cursor: default;
}

.merhabaLeftText {
     color: var(--color-white);
     cursor: default;
}
.merhabaLeftText.color {
     color: var(--color-blue);
}

.merhabaLeftMiddle {
     margin-top: 30px;
     width: 75%;
     color: var(--color-white);
     line-height: 1.8;
     font-size: var(--small);
     cursor: default;
}

/* BUTTON */

.merhabaLeftButton {
     margin-top: 56px;
     width: 370px;
     font-size: var(--button);
     height: 92px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--color-white);
     border-radius: 8px;
     background-color: var(--color-blue);
     cursor: pointer;
}

.merhabaLeftButton:hover {
     transform: scale(1.02, 1.02);
}
.merhabaLeftButton:active {
     transform: scale(1.035, 1.035);
}

/* RIGHT */

.merhabaRightBackground {
     align-items: end;
}

.merhabaRightImageSecond {
     top: 110px;
     right: 40%;
     position: absolute;
}

.merhabaRightImageFirst {
     top: 0;
     right: 10%;
     position: absolute;
}

.merhabaRightImageFirstIMG {
     width: 340px;
}

.merhabaRightImageSecondIMG {
     width: 273px;
}

@media only screen and (max-width: 1400px) {
     .merhabaLeftHeader {
          font-size: var(--mobileHeader);
     }

     .merhabaLeftButton {
          width: 292px;
          font-size: var(--small);
          height: 72px;
     }

     .merhabaContainer {
          width: 95%;
     }

     .merhabaLeftMiddle {
          width: 85%;
     }

     .merhabaRightImageFirstIMG {
          width: 282px;
     }

     .merhabaRightImageSecondIMG {
          width: 227px;
     }

     .merhabaRightBackgroundPNG {
          width: 500px;
     }
}

@media only screen and (max-width: 900px) {
     .merhabaContainer {
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-end;
          position: relative;
     }

     .merhabaRight {
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .merhabaRightImageFirstIMG {
          width: 158px;
     }

     .merhabaRightImageSecondIMG {
          width: 127px;
     }

     .merhabaRightBackgroundPNG {
          width: 281px;
     }

     .merhabaRightImageSecond {
          top: 60px;
          right: calc(50% - 10px);
     }

     .merhabaRightImageFirst {
          top: 0;
          right: calc(50% - 110px);
     }

     .merhabaLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .merhabaLeftHeader {
          text-align: center;
     }

     .merhabaLeftMiddle {
          text-align: center;
          width: 70%;
     }

     .merhabaLeftHeader {
          font-size: 36px;
     }

     .merhabaLeftMiddle {
          font-size: 15px;
     }

     .merhabaLeftButton {
          width: 192px;
          height: 47px;
          font-size: 15px;
     }
}
