.navbar {
     margin-top: 70px;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.2rem;
     z-index: 5;
     animation: fade 3s ease 0s 1 forwards;
     top: 0;
}

.navbarContainer {
     display: flex;
     max-width: 1430px;
     width: 90%;
}

.navbarLeft {
     flex: 30%;
}

.navbarCenter {
     flex: 40%;
     font-size: var(--header);
     display: flex;
     justify-content: center;
     margin: 0 10px;
}

.navbarCenterLink {
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--color-white);
     margin: 0 45px;
     cursor: pointer;
}

.navbarCenterLink:hover {
     transform: scale(1.1, 1.1);
}

.navbarCenterLink:active {
     transform: scale(1.2, 1.2);
}

.navbarRight {
     flex: 30%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.navbarRightIcon {
     display: flex;
     align-items: center;
     margin-left: 35px;
     cursor: pointer;
}

.navbarRightIcon:hover {
     transform: scale(1.1, 1.1);
}

.navbarRightIcon:active {
     transform: scale(1.2, 1.2);
}

.navbarCenterIcon {
     width: 100px;
     position: relative;
}

.navbarCenterIconBlob {
     position: absolute;
     top: -55px;
     left: -20px;
}

.navbarCenterIconPanda {
     width: 100px;
     height: auto;
     top: -35px;
     left: 0px;
     position: absolute;
}

.navbarMobile {
     display: none;
}

.navbarMobileButton {
     display: none;
}

.MobileDN {
     display: none;
}

@media only screen and (max-width: 1400px) {
     .navbarLeft,
     .navbarRight {
          flex: 20%;
     }

     .navbarCenter {
          flex: 80%;
     }
}

@media only screen and (max-width: 800px) {
     .navbarLeft {
          flex: 0%;
     }
     .navbarRight {
          flex: 20%;
     }

     .navbarCenter {
          flex: 80%;
     }
}

@media only screen and (max-width: 700px) {
     .navbarMobile {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 50px;
     }

     .navbarMobileButton {
          display: flex;
          margin-left: 50px;
     }

     .navbarContainer {
          display: none;
     }

     .navbarMenu {
          background-color: #0d0d0d;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          height: 100%;
          z-index: 700;
          position: absolute;
          top: 200px;
          left: -100%;
          opacity: 1;
          transition: all 0.5s ease;
          padding-top: 50px;
          overflow: hidden;
     }

     .navbarMenu.active {
          top: 200px;
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
     }

     .navbarMobileTop {
          display: flex;
     }

     .navbarMobileMain {
          width: 80%;
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .navbarCenterLink {
          font: normal normal 300 20px/30px Poppins;
          text-align: left;
          margin-bottom: 40px;
     }
}
