.hukukcularla {
     margin-top: 200px;
     display: flex;
     justify-content: center;
}

.hukukcularlaContainer {
     display: flex;
     justify-content: space-between;
     max-width: 1430px;
     width: 90%;
}

.hukukcularlaLeft {
     flex: 50%;
     display: flex;
     align-items: flex-start;
     justify-content: center;
}

.test {
     position: relative;
     width: 100%;
     height: 10px;
}

.hukukcularlaLeftBlob,
.hukukcularlaLeftIMG,
.hukukcularlaLeftMessage,
.hukukcularlaLeftChat {
     position: absolute;
}

.hukukcularlaLeftBlob {
     top: -20px;
     left: -60px;
     width: 100%;
}

.hukukcularlaLeftIMG {
     width: 62%;
     height: auto;
     top: 80px;
     left: 70px;
}

.hukukcularlaLeftMessage {
     top: 180px;
     left: 250px;
     width: 75%;
}

.hukukcularlaLeftChat {
     top: 370px;
     left: -55px;
     width: 75%;
}

.hukukcularlaRight {
     margin-top: 245px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     flex: 50%;
}

/* RIGHT */

.hukukcularlaRightHeader {
     color: var(--color-white);
     font-size: var(--herderHuk);
     cursor: default;
}

.hukukcularlaRightText {
     margin-top: 10px;
     font: normal normal normal 17px/30px Poppins;
     width: 73%;
     text-align: right;
     cursor: default;
     color: var(--color-white);
}

.hukukcularlaRightText.bold {
     margin-top: 0px;
     font: normal normal 600 17px/30px Poppins;
}

.hukukcularlaRightIcons {
     margin-top: 50px;
     display: flex;
     justify-content: space-between;
     max-width: 668px;
}

.hukukcularlaRightIcon {
     width: 291px;
     height: 92px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #141819 0% 0% no-repeat padding-box;
     border-radius: 16px;
     margin-left: 43px;
     cursor: pointer;
}

.hukukcularlaRightIconLeft {
     flex: 35%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.hukukcularlaRightIconRight {
     flex: 65%;
}

.hukukcularlaRightIconRightHeader {
     font: normal normal 200 13px/20px Poppins;
     color: var(--color-white);
     opacity: 0.5;
}

.hukukcularlaRightIconRightText {
     font: normal normal normal 26px/36px Poppins;
     color: var(--color-white);
}

@media only screen and (max-width: 1400px) {
     .hukukcularlaContainer {
          width: 95%;
     }

     .hukukcularlaRightHeader {
          font-size: 44px;
     }

     .hukukcularlaRightIcons {
          max-width: 572;
     }

     .hukukcularlaRightIcon {
          width: 250px;
          height: 79px;
          margin-left: 36px;
     }

     .hukukcularlaLeftIMG {
          width: 304px;
          top: 160px;
          left: 10px;
     }

     .hukukcularlaLeftMessage {
          width: 297px;
          top: 200px;
          left: 150px;
     }

     .hukukcularlaLeftChat {
          width: 263px;
          top: 250px;
          left: -25px;
     }

     .hukukcularlaLeftBlob {
          width: 461px;
     }
}

@media only screen and (max-width: 1000px) {
     .hukukcularlaContainer {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
     }

     .hukukcularlaLeft {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 403px;
          width: 100%;
          margin-bottom: -100px;
     }

     .hukukcularlaRight {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .hukukcularlaRightHeader {
          font-size: 36px;
          text-align: center;
     }

     .hukukcularlaRightText {
          font-size: 15px;
          text-align: center;
     }

     .hukukcularlaRightIcons {
          display: flex;
          flex-direction: column;
     }

     .hukukcularlaRightIcon {
          margin-bottom: 24px;
          margin-left: 0;
     }

     .test {
          height: 403px;
          display: flex;
          width: 349px;
          position: relative;
     }

     .hukukcularlaLeftBlob {
          width: 410px;
          top: -40%;
          left: -25px;
     }

     .hukukcularlaLeftIMG {
          width: 273px;
          top: 60px;
          left: 40px;
     }

     .hukukcularlaLeftMessage {
          width: 280px;
          top: 80px;
          left: 160px;
     }

     .hukukcularlaLeftChat {
          width: 245px;
          top: 120px;
          left: 20px;
     }

     @media only screen and (max-width: 900px) {
          .hukukcularlaLeftBlob {
               width: 308px;
               top: -40%;
               left: 30px;
          }

          .hukukcularlaLeftIMG {
               width: 203px;
               top: 80px;
               left: 80px;
          }

          .hukukcularlaLeftMessage {
               width: 198px;
               top: 80px;
               left: 160px;
          }

          .hukukcularlaLeftChat {
               width: 175px;
               top: 45px;
               left: 50px;
          }
     }
}
