.gunluk {
     margin-top: 200px;
     display: flex;
     justify-content: center;
}
.gunlukContainer {
     display: flex;
     justify-content: space-between;
     max-width: 1430px;
     width: 90%;
}

.gunlukItems {
     flex: 33%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.gunlukItem {
     width: 100%;
     height: 235px;
     background: transparent linear-gradient(221deg, #075cb180 0%, #064c9278 12%, #0d0d0d 48%, #0d0d0d 100%) 0% 0%
          no-repeat padding-box;
     border-radius: 32px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     cursor: default;
}

/* TEXT */

.gunlukItemHeader {
     font-size: var(--box);
     color: var(--color-white);
}

.gunlukItemText {
     font-size: var(--mediumText);
     color: var(--color-white);
}

@media only screen and (max-width: 1400px) {
     .gunlukContainer {
          width: 95%;
     }
}

@media only screen and (max-width: 900px) {
     .gunlukContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .gunlukItems {
          flex: 100%;
          margin-bottom: 44px;
          width: 344px;
     }
}
